body { font-family: 'Inter', sans-serif; 
      min-height: max(884px, 100dvh);
    }
.progress-ring-circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.material-symbols-outlined {
font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.ios-blur {
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
}